/* You can add global styles to this file, and also import other style files */
.text-red{
color:red;
}

.paddingtop20{
padding-top:20px;
}

.paddingtop15{
padding-top:15px;
}

.paddingbottom20{
padding-bottom:20px;
}
